@import '../basic';

.SmallTowns{
    text-align:center;
    background-color: white;
    padding-bottom:$sectionDistance;
    
};

.SmallTownsContent{
    position:relative;
    //height:53vw;
    height:80vw;
}

.smallTowns-carousel{
    position:absolute;
    width: 5%;
    height: 100%;
    z-index: $Z-Index-smallTowns-carousel;
    display: flex;
    align-items: center;
    justify-content: center;
    ion-icon{
        background-color: rgba(0, 0, 0, 0.644);
        color:white;
        transform: scale(1.2);
    }
    
};

.smallTowns-carouselNext{
    right: 0;
};

.smallTowns-street{
    //width:167%;
    width:250%;
    height: 100%;
    transform: translateX(-20%);
    position:relative;
    .smallTowns-building{
        position:absolute;
        left:0;
        transition: all 0.8s;
        display: inline-block;
        height: 100%;
        width:20%;
    }
};

.smallTowns-animal{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    .smallTowns-animal-wrap{
        position: relative;
        width: 100%;
        height: 100%;
        .smallTowns-animal-racoon{
            position:absolute;
            width: 8%;
            bottom:6%;
            left: 0;
            z-index: $Z-Index-smallTowns-animal;
        };
    };
    img{
        width: 100%;
        height: 100%;
    };
};

@media (min-width: 768px) {
    .SmallTownsContent{
        height:53vw;
    }
    .smallTowns-street{
        width:167%;
    }
}