$font-basic:'Lato','Helvetica Neue','Arial','Open-Sans',sans-serif;
$font-vary:'Cardo',serif;

$blackColor:#333;
$whiteColor:rgb(247, 247, 247);
$backColor:rgb(244, 244, 244);

$sectionDistance:6vh;

$sidePaddingXSmall: 1rem;
$sidePaddingSmall: 3rem;

$Z-Index-SideBar:930;
$Z-Index-Backdrop:920;
$Z-Index-HeaderNavbar:900;

$Z-Index-Modal:930;

$Z-Index-smallTowns-carousel:100;
$Z-Index-smallTowns-animal:90;

$Z-Index-naturePlace0:100;