@import './basic';

.SearchResultTop{
  //position:re
  display: flex;
  justify-content:space-between;
  align-items: flex-start;
  flex-direction: column;
  background-color:rgb(251, 251, 251);
  margin:auto auto 1rem auto;
  
}
.SearchResultShopping{
  background-color:rgb(251, 251, 251);
}
.s-video{
    width: 100%;
    height: 40vw;
    iframe{
        width: 100%;
        height: 100%;
    }
};
.s-videoText{
    padding-top: 2rem;
    .s-videoTitle{
        font-size: 100%;
    };
    p{
        font-size: 70%;
    }
};


.noVideoResult{
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background:rgb(146, 146, 146);
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }

  

@media (min-width: 576px) {
  .SearchResultTop{
    flex-direction: row;
    align-items: center;
  }
 }
@media (min-width: 768px){
    .s-video{
        height: 32vw;
    };
    .s-videoText{
        
        .s-videoTitle{
            font-size: 120%;
        };
        p{
            font-size: 90%;
        }
    };
}
@media (min-width: 992px){ 
    
}
@media (min-width: 1200px){
    
 }